<nav
  class="
    navbar navbar-expand 
    topbar
    mb-4
    static-top
    shadow
  "
  style="background-color: #e3f2fd"
>
  <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a
        class="nav-link dropdown-toggle"
        [routerLink]="['/login']"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"
          ><b>LOGIN</b></span
        >
      </a>
    </li>
    <li class="nav-item dropdown no-arrow">
      <a
        class="nav-link dropdown-toggle"
        [routerLink]="['/register']"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"
          ><b>REGISTER</b></span
        >
      </a>
    </li>
  </ul>
</nav>
